<div class="container "> 
  <nav class="nav-bar" style="margin:0 auto; max-width:600px">
    <div class="navigation-div">
        <div class="nav-item">
            <img style="height: 50px; width: 100px;"src="https://fanart.tv/fanart/music/5b6ebfe0-f72b-4902-bba9-74c8af0f1af0/hdmusiclogo/1975-the-54bab0244f723.png" alt="">
        </div>
        <div class="search-bar nav-item" >
            <form action="post" class="search-form">
                
                <input type="text" placeholder="Search" style="margin-top: 10px" autocapitalize="none" value="" class="search-input-field">
                
            </form>
        </div>
        <div class="nav-item" style="display:flex; flex-direction: row;">
          <div style="margin-left:22px"><p>TOUR</p></div>
          <div style="margin-left:22px"><p>MERCH</p></div>
        </div>
    </div>
  </nav>
  
</div>