.container {

  margin-right: auto;
  margin-left: auto;
  font-family: "Helvetica" !important;
  border-bottom: 4px solid pink;
}


body {
  font-family: Helvetica;
}
.navigation-div {
  display:flex;
  flex-direction: row;
  flex-basis: auto;
  background-color: #ffffff;
  height: 100%;
  width:100%;

}


.nav-bar {
  height:54px;
  align-content: center;
}
.search-bar {
  height:28px;
}
.search-input-field {
  height:100%;
  border-radius: 7px;
  border: solid 2px pink;
  background-color: white;
  width:170px;

}
.search-form {
  height:100%;
}

.nav-item {
  flex-basis: 0;
  flex-grow: 1;
}
.sides {
margin-left:22px;
margin-top: -6px;
color: pink;
font-size: larger;
font-family: cursive;
}