.container {

    margin-right: auto;
    margin-left: auto;
    font-family: cursive !important;
  }

  body {
    font-family: Helvetica;
  }

  .navigation-div {
    display:flex;
    flex-direction: row;
    flex-basis: auto;
    background-color: #ffffff;
    border-bottom: 1.5px solid pink;
    height: 100%;
    width:100%;

}


.nav-bar {
    height:54px;
    align-content: center;
}
.search-bar {
    height:28px;
}
.search-input-field {
    height:100%;
    border-radius: 7px;
    border: solid 2px pink;
    background-color: white;
    width:185px;

}
.search-form {
    height:100%;
}

.nav-item {
    flex-basis: 0;
    flex-grow: 1;
}

.sides {
  margin-top: -6px;
  color:pink;
  font-size: large;
  font-family: cursive;
}